@import "./shared/fonts";
@import "./shared/colors";

// pages
@import "./shared/index";
@import "./shared/portfolios";

// components
@import "./shared/headers";

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Montserrat", "Helvetica";
  // background-image: url("/static/images/background-index.png");
}

.absolute {
  position: absolute;
}

.clickable {
  cursor: pointer;
}

.base-page {
  padding: 150px 0 100px 0;
  color: black;
  background-color: #ecedee;
  min-height: 100vh;

  .page-header {
    .page-header-title {
      font-weight: 700;
      color: black;
      display: inline-block;
      margin-bottom: 20px;
    }
  }
}
